# How to do PROC FREQ in Python
Reference: [Can we get SAS Proc Freq with Python?](https://medium.com/eduonline24/can-we-get-sas-proc-freq-with-python-c6af752f387a)

## SAS Code to import the csv file into a data set
```
filename csv "~/governors_county.csv";

proc import datafile=csv dbms=CSV out=gov;
    getnames=yes;
run;
```

In [4]:
import pandas as pd

In [6]:
data = pd.read_csv("/Users/dowenk/Downloads/governors_county.csv")

## SAS Code to generate freq using original sort order of state
```
proc import datafile=csv dbms=CSV out=gov;
    getnames=yes;
run;

In [14]:
datax = data['state'].value_counts().sort_index()
datax

Delaware            3
Indiana            92
Missouri          115
Montana            56
New Hampshire     237
North Carolina    100
North Dakota       53
Utah               29
Vermont           246
Washington         39
West Virginia      55
Name: state, dtype: int64

In [15]:
datay = pd.DataFrame({
    'state': datax.index,
    'Frequency': datax.values,
    'Percent': ((datax.values/datax.values.sum())*100).round(2),
    'Cumulative Frequency': datax.values.cumsum(),
    'Cumulative Percent': ((datax.values.cumsum()/datax.values.sum())*100).round(2)
    })
datay

,state,Frequency,Percent,Cumulative Frequency,Cumulative Percent
0,Delaware,3,0.29,3,0.29
1,Indiana,92,8.98,95,9.27
2,Missouri,115,11.22,210,20.49
3,Montana,56,5.46,266,25.95
4,New Hampshire,237,23.12,503,49.07
5,North Carolina,100,9.76,603,58.83
6,North Dakota,53,5.17,656,64.00
7,Utah,29,2.83,685,66.83
8,Vermont,246,24.00,931,90.83
9,Washington,39,3.80,970,94.63
10,West Virginia,55,5.37,1025,100.00

## SAS Code to generate freq sorted by most to least frequent
```
proc freq data=gov order=freq;
	tables state;
run;
```

In [19]:
datax = data['state'].value_counts()

In [20]:
datay = pd.DataFrame({
    'state': datax.index,
    'Frequency': datax.values,
    'Percent': ((datax.values/datax.values.sum())*100).round(2),
    'Cumulative Frequency': datax.values.cumsum(),
    'Cumulative Percent': ((datax.values.cumsum()/datax.values.sum())*100).round(2)
    })
datay

,state,Frequency,Percent,Cumulative Frequency,Cumulative Percent
0,Vermont,246,24.00,246,24.00
1,New Hampshire,237,23.12,483,47.12
2,Missouri,115,11.22,598,58.34
3,North Carolina,100,9.76,698,68.10
4,Indiana,92,8.98,790,77.07
5,Montana,56,5.46,846,82.54
6,West Virginia,55,5.37,901,87.90
7,North Dakota,53,5.17,954,93.07
8,Washington,39,3.80,993,96.88
9,Utah,29,2.83,1022,99.71
10,Delaware,3,0.29,1025,100.00